/* GENERAL */

body {
    background-color: #F2F2F2;
}

/* ------------------------ */



/* NAVBAR */

@media only screen and (max-width:768px) {
    .nav-align {
        align-items: flex-start !important;
    }

    #blog-logo {
        height: 2rem;
    }

    #nav-back {
        height: 100%;
    }
}

@media only screen and (min-width:769px){
    #back {
        top: -130px;
    }
    
    #back img {
        top: -1.7px;
    }

    .nav-align {
        left: -87px;
    }

    #nav-back {
        height: 220px;
    }

}

.nav-link-w {
    color: #fff !important;
    transition: ease-in color 0.2s;
}

.nav-link-w:hover, .nav-link-w:active {
    color: rgb(202, 202, 202) !important;
}

.bg-black {
    background-color: black;
}

#nav-back {
    left: 0px;
    opacity: 0.46;
}

/* ------------------------ */



/* HEADER */

@media only screen and (max-width:768px){
    .header-cover .header-size {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    .header-cover {
        padding-top: 5rem;
    }
}

@media only screen and (min-width:769px){
    .header-cover .header-size {
        padding-top: 8rem;
        padding-bottom: 8rem;
    }

    .header-cover {
        padding-top: 12rem;
    }

    #post-header {
        height: 40vw;
    }
}

.header-size {
    height: auto;
}

.header-cover {
    background-size: cover;
    z-index: -1;
}

/* ------------------------ */

/* BLOG POST */


@media only screen and (max-width:768px) {
    .post-title {
        font-size: 2rem;
        font-weight: 700;
    }
    
    .post-datettr {
        font-style: italic;
        font-size: 1rem;
        font-weight: 500;
    }

    .body::first-line {
        line-height: 1.2rem;
    }
    
    .body::first-letter {
        font-size: 2rem;
        font-weight: 900;
    }

    .body img {
        width: 60vw;
        border-radius: 3px;
    }
}

@media only screen and (min-width:769px) {
    .post-title {
        font-size: 2.9rem;
    }

    .post-datettr {
        font-size: 1.6rem;
    }

    .body {
        line-height: 2.4rem;
        font-size: 1.4rem;
    }

    .body img {
        border-radius: 5px;
    }
    
    .body::first-line {
        line-height: 2.3rem;
    }
    
    .body::first-letter {
        font-size: 3rem;
        font-weight: 900;
    }

    .body img {
        width: 600px;
    }
}

.body img {
    display: flex;
    margin: 0 auto;
}

.post-title {
    font-weight: 700;
}

.post-datettr {
    font-style: italic;
    font-weight: 500;
}
/* ------------------------ */


/* ARCHIVE */

.list-group-item {
    background-color: inherit;
}

.list-group-item-action:hover, .list-group-item-action:focus {
    background-color: #E2E2E2;
}

.list-group-item-action:active {
    background-color: #d1d1d1;
}

/* ------------------------ */