@font-face{
	font-family: Avenir-Next;
	src: url('fonts/Avenir-Next-Font/AvenirNextLTPro-Regular.otf');
	font-weight: 500;
}
@font-face{
	font-family: Avenir-Next;
	src: url('fonts/Avenir-Next-Font/AvenirNextLTPro-It.otf');
	font-weight: 500;
	font-style: italic;
}
@font-face{
	font-family: Avenir-Next;
	src: url('fonts/Avenir-Next-Font/AvenirNextLTPro-Demi.otf');
	font-weight: 600;
}
@font-face{
	font-family: Avenir-Next;
	src: url('fonts/Avenir-Next-Font/AvenirNextLTPro-Bold.otf');
	font-weight: 900;
}
@font-face{
	font-family: Avenir-Next-Condensed;
	src: url('fonts/Avenir-Next-Font/AvenirNextLTPro-BoldCn.otf');
	font-weight: 900;
	font-stretch: condensed;
}
@font-face{
	font-family: Avenir-Next-Condensed;
	src: url('fonts/Avenir-Next-Font/AvenirNextLTPro-DemiCn.otf');
	font-weight: 600;
	font-stretch: condensed;
}

/* GENERAL */

@media only screen and (max-width: 450px) {
	html {
		font-size: 11px;
	}
}

@media only screen and (max-width: 900px) {
	html {
		font-size: 13px;
	}
}

html {
	font-size: 15px;
}

:root {
	--text-color-dark:  #4a4a4a;
	--background-color-1: #444757;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.bg-inherit {
	background-color: inherit;
}

.text-white {
    color: white;
}

.pad-full {
	padding: 4rem !important;
}

.pad {
	padding: 0 4rem !important;
}

.pad-large {
	padding: 0 8rem !important;
}

.pad-left {
	padding-left: 4rem !important;
}

.pad-left-large {
	padding-left: 8rem !important;
}

.pad-right {
	padding-right: 4rem !important;
}

.pad-right-large {
	padding-left: 8rem !important;
}

.pad-top {
	padding-top: 4rem !important;
}

.pad-top-large {
	padding-top: 8rem !important;
}

.pad-bottom {
	padding-bottom: 4rem !important;
}

.pad-bottom-large {
	padding-bottom: 8rem !important;
}

.large {
	font-size: 1.5em !important;
}

.medium {
	font-size: 1em !important;
}

.height-xl {
	line-height: 3.5em !important;
}

.height-l {
	line-height: 2.5em !important;
}

.height-m {
	line-height: 2em !important;
}

.height-s {
	line-height: 1.5em !important;
}

.height-xs {
	line-height: .5em !important;
}

.no-margin {
	margin: 0 !important;
}

.no-pad {
	padding: 0 !important;
}
.center {
	text-align: center;
}

.v-middle {
	vertical-align: middle;
	position: relative;
}

.no-clip {
	clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0% 100%) !important;
	-webkit-clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0% 100%) !important;
}

.z-1 {
	z-index: 1 !important;
}

.z-2 {
	z-index: 2 !important;
}

.z-3 {
	z-index: 3 !important;
}

.z-4 {
	z-index: 4 !important;
}

.z-5 {
	z-index: 5 !important;
}
 
.z-6 {
	z-index: 6 !important;
}
 
.z-7 {
	z-index: 7 !important;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
}

body {
	font-family: Avenir-Next, sans-serif;
	font-weight: 500;
	font-size: 100%;
	color: var(--text-color-dark);
}

.sub-header {
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 0.2em;
	margin-bottom: 2.3em;
}

a.main-link {
	letter-spacing: 0.39em;
	font-family: Avenir-Next;
	font-weight: 600;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	z-index: 1;
}

a.main-link:hover {
	color: #171717;
	text-decoration: none;
}

footer {
	position: absolute;
    /* bottom: 0; */
}

/* ----------------------------- */


/* NAVBAR */

@media only screen and (max-width: 1199px){

	.li-spacing li + li {
		margin-left: 0px !important;
	}

	.li-spacing li {
		margin-bottom: 32px !important;
	}

	.li-spacing li:first-child {
		margin-top: 32px !important;
	}

	.link-box:hover {
		outline-width: 0px !important;
	}
}

.navbar-collapse.collapse.in {
	display: block !important;
}

.li-spacing li + li {
	margin-left: 32px;
}

.fixed-top {
	position: fixed !important;
}

section.mod {
	height: auto;
	float: left;
	width: 100%;
	position: relative;
}

.navbar-toggler {
	outline: none !important;
}

.menu {
	height: 45px;
	width: 45px;
	position: relative;
	margin: auto;
	top: -12px;
	border: 5px solid transparent;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	border-radius: 100%;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	cursor: pointer;
}

.bar {
	height: 2px;
	width: 20px;
	display: block;
	margin: 5px auto;
	position: relative;
	background-color: #fff;
	-moz-transition: 0.4s;
	-o-transition: 0.4s;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.model-1 .bar {
	position: absolute;
}
.model-1 .bar:nth-of-type(1) {
	top: 15px;
	-moz-transition: top 0.3s ease 0.3s, -moz-transform 0.3s ease-out 0.1s;
	-o-transition: top 0.3s ease 0.3s, -o-transform 0.3s ease-out 0.1s;
	-webkit-transition: top 0.3s ease, -webkit-transform 0.3s ease-out;
	-webkit-transition-delay: 0.3s, 0.1s;
	transition: top 0.3s ease 0.3s, transform 0.3s ease-out 0.1s;
	-moz-animation: mrotr 0.25s cubic-bezier(0.5, 0.2, 0.2, 1.01);
	-webkit-animation: mrotr 0.25s cubic-bezier(0.5, 0.2, 0.2, 1.01);
	animation: mrotr 0.25s cubic-bezier(0.5, 0.2, 0.2, 1.01);
}
.model-1 .bar:nth-of-type(2) {
	top: 22px;
	-moz-transition: ease 0.3s 0.3s;
	-o-transition: ease 0.3s 0.3s;
	-webkit-transition: ease 0.3s;
	-webkit-transition-delay: 0.3s;
	transition: ease 0.3s 0.3s;
	-moz-animation: fade 0.25s cubic-bezier(0.5, 0.2, 0.2, 1.01);
	-webkit-animation: fade 0.25s cubic-bezier(0.5, 0.2, 0.2, 1.01);
	animation: fade 0.25s cubic-bezier(0.5, 0.2, 0.2, 1.01);
}
.model-1 .bar:nth-of-type(3) {
	top: 29px;
	-moz-transition: top 0.3s ease 0.3s, -moz-transform 0.3s ease-out 0.1s;
	-o-transition: top 0.3s ease 0.3s, -o-transform 0.3s ease-out 0.1s;
	-webkit-transition: top 0.3s ease, -webkit-transform 0.3s ease-out;
	-webkit-transition-delay: 0.3s, 0.1s;
	transition: top 0.3s ease 0.3s, transform 0.3s ease-out 0.1s;
	-moz-animation: mrotl 0.25s cubic-bezier(0.5, 0.2, 0.2, 1.01);
	-webkit-animation: mrotl 0.25s cubic-bezier(0.5, 0.2, 0.2, 1.01);
	animation: mrotl 0.25s cubic-bezier(0.5, 0.2, 0.2, 1.01);
}
.model-1 .active .bar:nth-of-type(1) {
	top: 22px;
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	-moz-transition: top 0.3s ease 0.1s, -moz-transform 0.3s ease-out 0.5s;
	-o-transition: top 0.3s ease 0.1s, -o-transform 0.3s ease-out 0.5s;
	-webkit-transition: top 0.3s ease, -webkit-transform 0.3s ease-out;
	-webkit-transition-delay: 0.1s, 0.5s;
	transition: top 0.3s ease 0.1s, transform 0.3s ease-out 0.5s;
}
.model-1 .active .bar:nth-of-type(2) {
	opacity: 0;
}
.model-1 .active .bar:nth-of-type(3) {
	top: 22px;
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-moz-transition: top 0.3s ease 0.1s, -moz-transform 0.3s ease-out 0.5s;
	-o-transition: top 0.3s ease 0.1s, -o-transform 0.3s ease-out 0.5s;
	-webkit-transition: top 0.3s ease, -webkit-transform 0.3s ease-out;
	-webkit-transition-delay: 0.1s, 0.5s;
	transition: top 0.3s ease 0.1s, transform 0.3s ease-out 0.5s;
}

@-moz-keyframes mrotr {
	0% {
	  -moz-transform: translateY(0px) rotate(0);
	  transform: translateY(0px) rotate(0);
	}
	50% {
	  -moz-transform: translateY(15px) rotate(0);
	  transform: translateY(15px) rotate(0);
	}
	100% {
	  -moz-transform: translateY(15px) rotate(45deg);
	  transform: translateY(15px) rotate(45deg);
	}
}
@-webkit-keyframes mrotr {
	0% {
	  -webkit-transform: translateY(0px) rotate(0);
	  transform: translateY(0px) rotate(0);
	}
	50% {
	  -webkit-transform: translateY(15px) rotate(0);
	  transform: translateY(15px) rotate(0);
	}
	100% {
	  -webkit-transform: translateY(15px) rotate(45deg);
	  transform: translateY(15px) rotate(45deg);
	}
}
@keyframes mrotr {
	0% {
	  -moz-transform: translateY(0px) rotate(0);
	  -ms-transform: translateY(0px) rotate(0);
	  -webkit-transform: translateY(0px) rotate(0);
	  transform: translateY(0px) rotate(0);
	}
	50% {
	  -moz-transform: translateY(15px) rotate(0);
	  -ms-transform: translateY(15px) rotate(0);
	  -webkit-transform: translateY(15px) rotate(0);
	  transform: translateY(15px) rotate(0);
	}
	100% {
	  -moz-transform: translateY(15px) rotate(45deg);
	  -ms-transform: translateY(15px) rotate(45deg);
	  -webkit-transform: translateY(15px) rotate(45deg);
	  transform: translateY(15px) rotate(45deg);
	}
}
@-moz-keyframes mrotl {
	0% {
	  -moz-transform: translateY(0px) rotate(0);
	  transform: translateY(0px) rotate(0);
	}
	50% {
	  -moz-transform: translateY(-15px) rotate(0);
	  transform: translateY(-15px) rotate(0);
	}
	100% {
	  -moz-transform: translateY(-15px) rotate(-45deg);
	  transform: translateY(-15px) rotate(-45deg);
	}
}
@-webkit-keyframes mrotl {
	0% {
	  -webkit-transform: translateY(0px) rotate(0);
	  transform: translateY(0px) rotate(0);
	}
	50% {
	  -webkit-transform: translateY(-15px) rotate(0);
	  transform: translateY(-15px) rotate(0);
	}
	100% {
	  -webkit-transform: translateY(-15px) rotate(-45deg);
	  transform: translateY(-15px) rotate(-45deg);
	}
}
@keyframes mrotl {
	0% {
	  -moz-transform: translateY(0px) rotate(0);
	  -ms-transform: translateY(0px) rotate(0);
	  -webkit-transform: translateY(0px) rotate(0);
	  transform: translateY(0px) rotate(0);
	}
	50% {
	  -moz-transform: translateY(-15px) rotate(0);
	  -ms-transform: translateY(-15px) rotate(0);
	  -webkit-transform: translateY(-15px) rotate(0);
	  transform: translateY(-15px) rotate(0);
	}
	100% {
	  -moz-transform: translateY(-15px) rotate(-45deg);
	  -ms-transform: translateY(-15px) rotate(-45deg);
	  -webkit-transform: translateY(-15px) rotate(-45deg);
	  transform: translateY(-15px) rotate(-45deg);
	}
}

@-moz-keyframes fade {
	from {
	  opacity: 1;
	}
	to {
	  opacity: 0;
	}
}
@-webkit-keyframes fade {
	from {
	  opacity: 1;
	}
	to {
	  opacity: 0;
	}
}
@keyframes fade {
	from {
	  opacity: 1;
	}
	to {
	  opacity: 0;
	}
}


/* ----------------------------- */

