{% extends 'bootstrap/base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
    Steven John
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')|autoversion }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/landing_style.css')|autoversion }}">
{% endblock styles %}

{% block metas %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
{% endblock %}

{% block scripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js')|autoversion }}"></script>
    <script src="{{ url_for('static', filename='js/landing_script.js')|autoversion }}"></script>
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-expand-xl bg-dark-c pad-navbar position-absolute z-7 w-100">
        <a href="#" class="navbar-brand link-ext main-link header-link">Steven John</a></li>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <section class="mod model-1">
                <div class="menu">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
              </section>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto li-spacing">
                <li class="nav-item"><a href="#" class="link-ext main-link header-link link-box">Blog</a></li>
                <li class="nav-item"><a href="{{ url_for('blog') }}" class="link-ext main-link header-link link-box">Projects</a></li>
                <li class="nav-item"><a href="#contact-me" class="link-ext main-link header-link link-box">Contact Me</a></li>
            </ul>  
        </div>
    </nav>

{% endblock %}

{% block content %}
    <header class="my-container container-fluid bg-dark-c z-4" id="landing">
        <h1 class="header-text mx-auto">My name is Steven.<br><span id="lime">I am ________________</span></h1>
        <img src="{{ url_for('static', filename='main_landing_1.png') }}" alt="Steven's picture" class="landing-img d-flex mx-auto">
    </header>



    <div class="my-container container-fluid shadow-lg bg-light z-3">
        <div class="container">
            <h1 class="sub-header" id="startchange">About Me</h1>
            <div class="row align-items-center">
                <div class="col-xl pad-right border-bottom">
                    <p class="large height-l" id="about-me-p">Filium morte multavit si sine causa? 
                        quae fuerit causa, 
                        nollem me ab illo inventore veritatis et aut dolores eos, 
                        qui dolorem aspernari ut ita ruant itaque turbent, ut aut 
                        rerum facilis est et dolorem? sunt autem nusquam 
                        hoc epicurus in armatum hostem impetum fecisse aut.</p>
                </div>
                <div class="col-xl pad-left pad-top border-left">
                    <a href="#">
                        <img src="{{ url_for('static', filename='blog_logo.svg') }}" alt="Steven's Blog" id="blog-logo">
                    </a><br>
                    <div id="blog-sub-heading">Most Recent Post</div>
                    <div id="blog-post-heading">Finished my most anticipated project!</div>
                    <div id="blog-post-details">Sep 9, 2019 - 8 min read</div>
                    <div id="read-more-container">
                        <p class="large">Filium morte multavit si sine causa? quae fuerit causa, 
                            nollem me ab illo inventore veritatis et aut dolores eos, qui dolorem 
                            aspernari ut ita ruant itaque turbent, ut aut rerum facilis est et 
                            dolorem? sunt autem nusquam hoc epicurus in armatum hostem impetum 
                            fecisse aut.</p>
                        </div>
                    <div id="read-more-link"><a href="#" class="link-ext main-link">Read more</a></div>
                </div>
            </div>
        </div>
    </div>



    <div class="my-container container-fluid shadow-lg z-2">
        <div class="container">
            <h1 class="sub-header">Projects</h1>
            <div class="row align-items-center">

                <div class="col-xl">
                    <div class="card mb-4 w-100">
                        <div class="row no-gutters position-relative">
                            <div class="col-sm-5 img-ext">
                                <a href="" class="img-play-link">
                                    <img src="{{ url_for('static', filename='placeholder-img.jpg') }}" class="card-img placeholder-img img-ext" alt="...">
                                    <img src="{{ url_for('static', filename='play-img-2.svg') }}" alt="play" class="img-play">
                                </a>
                            </div>
                            <div class="col-sm-7">
                                <div class="card-body">
                                    <a href="#" class="stretched-link link-ext"><h5 class="card-title">Card title</h5></a>
                                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl">
                    <div class="card mb-4 w-100">
                        <div class="row no-gutters position-relative">
                            <div class="col-sm-5 img-ext">
                                <a href="" class="img-play-link">
                                    <img src="{{ url_for('static', filename='placeholder-img.jpg') }}" class="card-img placeholder-img img-ext" alt="...">
                                    <img src="{{ url_for('static', filename='play-img-2.svg') }}" alt="play" class="img-play">
                                </a>
                            </div>
                            <div class="col-sm-7">
                                <div class="card-body">
                                    <a href="#" class="stretched-link link-ext"><h5 class="card-title">Card title</h5></a>
                                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>
        
            <div class="row justify-content-md-center">
                <div class="col-md-auto pad-full">
                    <a href="#" class="link-ext main-link">Check out more projects</a>
                </div>
            </div>
        </div> 
    </div>

    <div class="my-container container-fluid shadow-lg bg-light z-1 no-clip mb-auto">
        <div class="container">        
            <h1 class="sub-header" id="contact-me">Contact Me</h1>
            {% if form %}
            <div class="row justify-content-md-center">
                <div class="col-md-6">
                    {{ wtf.quick_form(form) }}
                </div>
            </div>
            {% endif %}
        </div>
    </div>

    <div class="container-fluid center v-middle position-relative z-2" id="landing-footer">
        <p class="medium no-margin">Made with ❤️ using Python and Flask.</p>
    </div>


{% endblock content %}

