<div class="card mb-5">
    <div class="row no-gutters">
        <div class="col-lg-4">
            <img src="{{ img_urls['blog_post'][i] }}" class="card-img" alt="card-img">
        </div>
        <div class="col-lg-8">
            <div class="card-body p-5">
                <h1 class="post-heading mb-3">Finished my most anticipated project!</h1>
                <h5 class="post-details mb-4">Sep 9, 2019 - 8 min read</h5>
                <p class="card-text">Filium morte multavit si sine causa? quae fuerit causa, 
                    nollem me ab illo inventore veritatis et aut dolores eos, qui dolorem 
                    aspernari ut ita ruant itaque turbent, ut aut rerum facilis est et 
                    dolorem? sunt autem nusquam hoc epicurus in armatum hostem impetum 
                    fecisse aut.</p>
                <a href="{{ url_for('blog_post', post_hash='1', n=3+i ) }}" class="stretched-link main-link">Read more</a>
            </div>
        </div>
    </div>
</div>